<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Acerca del proyecto</title>

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/estilos.css">
    <script src="../public/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../public/images/logo.webp" alt="" srcset="" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="principal.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="reportes.html">Reportes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="acerca.html">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="novedades.html">Novedades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contactanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="perfil.html">Perfil</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Search">
                    <button class="btn btn-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container mt-4 mb-4">
        <h3 class="h3">Novedades de los deportes</h3>
        <hr>
        <div class="bg-dark text-white p-1 fw-bold">
            INFORMACION DE LOS DEPORTES MAS JUGADOS
        </div>
        <div class="mt-3">
            <div class="grid_acerca">
                <div class="grid_acerca_1 border">
                    <div class="bg-dark text-white p-1 fw-bold">
                        Natacion
                    </div>
                    <div class="text-center">
                        <img src="../public/images/natacion.jpg" alt="" width="100%">
                    </div>
                    <div class="px-2 mt-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem maiores vel porro non,
                        ab delectus earum placeat aliquam nemo sed. <a href="">ver mas...</a>
                    </div>  
                </div>
                <div class="grid_acerca_2 border">
                    <div class="bg-dark text-white p-1 fw-bold">
                        Relevo
                    </div>
                    <div class="text-center">
                        <img src="../public/images/relevo.jpg" alt="" width="100%">
                    </div>
                    <div class="px-2 mt-3">
                        Lorem ipsum dolor sit <a href="">ver mas...</a>
                    </div>
                </div>
                <div class="grid_acerca_3 border">
                    <div class="bg-dark text-white p-1 fw-bold">
                        Salto
                    </div>
                    <div class="text-center">
                        <img src="../public/images/salto.webp" alt="" width="100%">
                    </div>
                    <div class="px-2 mt-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem maiores vel porro non,
                        ab delectus earum placeat aliquam nemo sed. <a href="">ver mas...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>