<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicie Sesion</title>

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/estilos.css">
    <script src="../public/js/bootstrap.bundle.min.js"></script>
</head>

<body class="bg-dark text-white">
    <div class="container p-4 recuperar">
        <div class="mb-4">
            <div class="text-center">
                <img src="../public/images/logo.webp" alt="" srcset="" width="300">
            </div>
        </div>
        <form action="#" method="POST">
            <label for="" class="mb-2">Ingrese su correo:</label><br>
            <input class="form-control mb-5" type="email" name="" id="" placeholder="Example@correo.com" required>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-success">Recuperar</button>
            </div>
            <div class="text-center mt-4">
                <p>¿tienes cuenta? <a href="../index.html">Iniciar Sesion</a></p>
            </div>
        </form>
    </div>
</body>

</html>